{% extends "base.html" %}
{% load i18n %}

{% block hero %}
  <h1>{% trans "Contribute" %}</h1>
{% endblock %}

{% block content %}

<h2>{% blocktrans with site_name=site.name %}You can help us make {{ site_name }} better!{% endblocktrans %}</h2>

<p>{% blocktrans trimmed with site_name=site.name %}
{{ site_name }} is a volunteer-sourced database, and that means we 
need help in making it better.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
There is a lot of useful information on candidates out there, so if you find
any please do add it to our site.
{% endblocktrans %}</p>

<h3>{% trans "How to help" %}</h3>

<p>{% blocktrans trimmed %}
Our initial focus is on building an index of all candidates and their details.
This includes their contact details, websites, and social media accounts.
{% endblocktrans %}</p>

{% url "account_login" as url %}
<p>{% blocktrans trimmed %}
We would love your help. 
First off you'll need to <a href="{{ url }}">log in</a> in
order to start making edits.
{% endblocktrans %}</p>

<p>{% blocktrans trimmed %}
We've added clear banners on the candidate and constituently pages
indicating where we're missing email addresses, so you can start adding email
addresses by <a href="/">looking up your constituency on the
home page</a>
{% endblocktrans %}</p>

{% url "incomplete_view" 'email' as url %}
<p>{% blocktrans trimmed %}
Once your constituency has all the email addresses entered, you can look at
our <a href="{{ url }}">list of all candidates
without emails listed</a>!
{% endblocktrans %}</p>


{% endblock content %}
